{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<div style="display: flex; align-items: center">
  <h3 style="margin-top: 30px; margin-left: 50px">Все вопросы</h3>
</div>
<div class="btn-group me-2" role="group" aria-label="First group" style="white-space: nowrap; margin-top: 30px; margin-left: 570px">
  <a href="{% url 'aplication:popular_questions' %}" class="btn btn-outline-secondary">Популярные</a>
  <a href="{% url 'aplication:qustion_days' pk=7%}" class="btn btn-outline-secondary">За неделю</a>
  <a href="{% url 'aplication:qustion_days' pk=30%}" class="btn btn-outline-secondary">За месяц</a>
</div>
<div>
  <hr style="margin-top: 30px">
  {% for question in questions %}
    {% with question_info=questions_info|get_item:question.id %}
    <div class="row mb-3" style="margin-top: 10px">
      <div class="col-2" style="margin-left: 50px">
        <p class="text-end mb-0">{{ question_info.total }} голосов</p>
        <p class="text-end mb-0"><button type="button" class="btn btn-outline-success" style="padding: 1px;">{{ question.num_answers }} ответов</button></p>
        <p class="text-end mb-0">{{ question.views }} просмотров</p>
      </div>
      <div class="col-5">
        <a class="text-decoration" href="{% url 'aplication:detail_question' pk=question.id %}">{{ question.title }}</a>
        <p class="mb-0">{{ question.text }}</p>
        <div>
          {% for tag in question.tags.all %}
            <button type="button" class="btn btn-secondary btn-sm" style="padding: 1px; background-color: rgba(229,229,229,0.61); color: rgb(9,0,0); border: none">{{ tag.title }}</button>
          {% endfor %}
        </div>
      </div>
      <div class="col-4">
        <p class="text-end mb-2 mt-3">
          <img src="{{ question.author.image.url }}" style="height: 20px; width: 20px" alt="">{{ question.author }}
        </p>
        <p class="text-end mb-0" style="font-size: 14px">
          Создан {{ question_info.question_days }} дней {{ question_info.question_hours }} часов {{ question_info.question_minutes }} минут назад
        </p>
      </div>
    </div>
    <hr>
    {% endwith %}
  {% endfor %}
</div>
{% endblock %}
